.collapsible {
    background-color: #84498a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: rgb(122, 100, 111);
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


img {
    width: 100%;
}

body > .flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-container > div {
    background-color: rgba(196, 188, 188, 0.856);
    /* margin: 10px; */
    padding: 20px;
    font-size: 20px;
    width: 60%;
}

.flex-container > .sidebar {
    width: 30%;
    background-image: url("tentacles2.jpg");
    opacity: 0.6;
    /* background-size: cover; */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.flex-container > .sidebar2 {
    width: 30%;
    background-image: url("tentacles2.jpg");
    opacity: 0.6;
    /* background-size: cover; */
    background-position: center right;
    background-attachment: fixed ;
    background-repeat: no-repeat;
}

/* div > .img-container {
    display: flex;
    width: 100%;
    float: left;
} */

/* .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 8;
} */
.flex-container-img {
    display: flex;
    /* flex-direction: column; */
    /* float: left;; */
    width: 100%;
    height: 100%; 
    /* align-items: center; */
}
.flex-container-img > img {
    /* max-width: 100% */
    width: 50%;
    
}

.images {
    width: 50%;
}
html, body {
    margin: 0%;
    width: 100%;
    background-image: url("tentacles.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    text-decoration: solid;
    color: #84498a;
}